.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.todo {
  display: flex;
  margin: 10px;
  max-width: 450px;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
