.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;



}
.todo {
  display: flex;
  margin: 10px;
  max-width: 450px;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.custom-input {
  font-family: 'Roboto Slab', sans-serif;
  height: 30px;
  padding: 10px;
  border: none;
  border: 1px solid darkgrey;
  border-radius: 5px

}